.App-header {
  background-image: url('images/fon.JPG');
  padding: 20px;
  color: lightgrey;
  text-align: center;
}


.search {
  padding: 15px 10px 5px 10px;
  font-size: 1em;
}


.props {
  margin: 1em;
  padding: 0.7em;
  background-color: lightgrey;
}


.map {
  width: 100%;
  height: 550px;
}

.listElement {
  padding: 5px 5px 5px 0;
  text-align: left;
}

.metro {
  width: 100%;
  background-color: white;
  padding: 10px 0 10px 0;
}

.list-places {
  border: solid lightgrey;
  background-color: white;
}

.list {
  margin: 0 0 10px 0;
}

.info {
  border: solid lightgrey;
}

.errors {
  font-size: 1.5em;
  font-style: italic;
  color: crimson;
}
